<div class="order_board">
        <div class="top-panel">
            <div class="order">Замовлення</div>
            <span class="amount">0</span>
            <span class="clean-order">Очистити замовлення</span>
        </div>
        <div class="main-panel">
            <div class="board-label">
                Порожньо в холодильнику?
                <br> Замовте піцу!
            </div>
            <div id="cart"></div>
        </div>
        <div class="bottom-panel">
            <div class="sum_text" >Сума замовлення</div>
            <div class="sum" style="display:none"></div>
            <button class="order_button">Замовити</button> 
        </div>
    </div>