<% include common/header.ejs %>
<% include common/order_board.ejs %>

<div class="container">
        
        <div class="menu">
            <div>
                <span class="top_menu">Усі піци</span>
                <span class="amount-pizza">8</span>
            </div>
            <ul id ="filter" class="nav nav-pills">
                <li class="pizza-filter" id="all-pizza">     
                    <a href="#">Усі</a>
                </li>
                <li class="pizza-filter" id="meat">
                    <a href="#">М'ясні</a>
                </li>
                <li class="pizza-filter" id="pineapple">
                    <a href="#">З ананасами</a>
                </li>
                <li class="pizza-filter" id="mushroom">
                    <a href="#">З грибами</a>
                </li>
                <li class="pizza-filter" id="ocean">
                    <a href="#">З морепродуктами</a>
                </li>
                <li class="pizza-filter" id="withotmeat">
                    <a href="#">Вега</a>
                </li>
            </ul>
        </div>
    
    <div class="row" id="pizza_list"></div>
</div>

<% include common/footer.ejs %>